body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
p {

  font-family: 'Open Sans Condensed', 'sans-serif';
  color: #DDD;
}
#container {

  width: 66.66%; 
  margin: auto;
}
#simSpace {

  display:none;
}
#fastForward:hover{

  color: #F00;
}
#fastForward:active{

  color: #00F;
}
